@{
	ViewBag.Title = "Email Confirmed";
}

<div class="d-flex flex-column align-items-center">
	<div class="d-flex flex-column w-100 mt-5" style="max-width:800px">
		<div class="alert alert-success" role="alert">
			<h4 class="alert-heading">Email Confirmation Success!</h4>
			<p>Thank you for confirming your email address.</p>
			<hr>
			<p class="mb-0">Your account is now ready to go, thank you for joining and welcome to BitPixel</p>
			<div class="text-center mt-3">
				<a href="/Pixel" class="alert-link">Click here to start playing BitPixel</a>
			</div>
		</div>
	</div>
</div>