@{
	ViewBag.Title = "Password Reset";
}

<div class="d-flex flex-column align-items-center">
	<div class="d-flex flex-column w-100 mt-5" style="max-width:800px">
		<div class="alert alert-success" role="alert">
			<h4 class="alert-heading">Password Reset Success!</h4>
			<p>Successfully updated password.</p>
			<hr>
			<p class="mb-0">Your password has been reset and you con now sign in again.</p>
			<div class="text-center mt-3">
				<a href="/Account/Login" class="alert-link">Click here to Login</a>
			</div>
		</div>
	</div>
</div>
