@{
	ViewBag.Title = "Home Page";
}
<div>
	<input id="pixel-zoomout" type="button" value="Zoom Out" />
	<input id="pixel-zoomin" type="button" value="Zoom In" />
	<input id="pixel-color" class="jscolor" value="ff0000" />
</div>

<div class="row" style="margin-top:10px;overflow:auto;max-width:1020px;max-height:600px">
		<canvas id="mainCanvas" style="border:solid 1px #c8c8c8;background:transparent"></canvas>
</div>

@section Scripts {
	<script>
		var canvas = document.getElementById('mainCanvas');
		var context = canvas.getContext('2d');
		var scale = 1;
		$("#pixel-zoomin").on("click", function () {
			scale = 10;
			resetCanvas();
			getPixels();
		});

		$("#pixel-zoomout").on("click", function () {
			scale = 1;
			resetCanvas();
			getPixels();
		});

		function resetCanvas() {
			canvas.height = 1000 * scale;
			canvas.width = 1000 * scale;
			context.setTransform(1, 0, 0, 1, 0, 0);
			context.clearRect(0, 0, canvas.width, canvas.height);
			context.scale(scale, scale)
		}
		resetCanvas();
		getPixels()


		var pixelHub = $.connection.pixelHub;
		pixelHub.client.SendPixelData = function (x, y, color) {
			context.fillStyle = color;
			context.fillRect(x, y, 1, 1);
		};
		$.connection.hub.start().done(function () {

		});

		function getPixels() {
			getJson('@Url.Action("GetPixels", "Home")', {}, function (data) {
				if (data) {
					for (var i = 0; i < data.length; i++) {
						var pixel = data[i];
						context.fillStyle = pixel.Color,
						context.fillRect(pixel.X, pixel.Y, 1, 1);
					}
				}
			});
		}



		function getMousePos(canvas, evt) {
			var rect = canvas.getBoundingClientRect();
			return {
				x: evt.clientX - rect.left,
				y: evt.clientY - rect.top
			};
		}


		canvas.addEventListener('click', function (evt) {
			var mousePos = getMousePos(canvas, evt);
			var color = "#" + $("#pixel-color").val();
			var data = {
				x: parseInt(mousePos.x / scale),
				y: parseInt(mousePos.y / scale),
				color: color,
			}
			//alert($("#pixel-color").val())
			postJson('@Url.Action("AddPixel", "Home")', data);
		}, false);


	</script>
}