@model DotMatrix.Common.Pixel.PixelViewlModel
@{
	ViewBag.Title = "Home";
}

<div class="row text-center">
	<img src="~/Content/Images/background-small.png" width="1000" height="1000" style="border:solid 1px black;margin-top:15px"/>
</div>

<div class="row text-center">
	<img src="~/Content/Images/background-large.png" width="10000" height="10000" style="border:solid 1px black;margin-top:15px" />
</div>
@section Scripts {
	
	<script>

	</script>
}
