@{
    ViewBag.Title = "Home Page";
}
<button onclick="test();">Derp</button>
<div class="row" style="margin-top:10px">
	<canvas id="mainCanvas" width="1000" height="1000" style="border:solid 1px red"></canvas>
</div>