@using DotMatrix.Base.Extensions
@model DotMatrix.Common.Pixel.PixelViewlModel
@{
	ViewBag.Title = "Home";
	
	var width = DotMatrix.Enums.Constant.Width;
	var height = DotMatrix.Enums.Constant.Height;
	var cacheBreak = DateTime.UtcNow.ToUnixTime();
}

<div class="d-flex flex-column mt-4">
	<div style="display:flex;justify-content:center;">
		<img src="@string.Format("Content/Images/Pixel/background-small.png?v={0}", cacheBreak)" width="@width" height="@height" style="border:solid 1px black"/>
	</div>
</div>

@section Scripts {
	<script>
	</script>
}
