@{
	ViewBag.Title = "Confirm Email";
}


<div class="d-flex flex-column align-items-center">
	<div class="d-flex flex-column w-100 mt-5" style="max-width:800px">
		<div class="alert alert-info" role="alert">
			<h4 class="alert-heading">Confirm Your Email</h4>
			<p>An email has been sent to your registered email address.</p>
			<hr>
			<p class="mb-0">Please follow the instructions in the email finish activating your account</p>
			<div class="text-center mt-3">
			</div>
		</div>
	</div>
</div>
