@{
	ViewBag.Title = "Game Prize";
}


<div class="d-flex justify-content-center">
	<div class="d-flex" style="min-width:500px;max-width:1600px">
		<div class="card w-100 m-3">
			<div class="card-body">
				<div class="d-flex justify-content-between align-items-center">
					<div>
						<h5 class="card-title">Game Prize Management</h5>
						<h6 class="card-subtitle mb-2 text-muted">Create and manage game prizes</h6>
					</div>
					<div class="w-25">
						<button id="create-prizepool" class="btn btn-primary w-100">Create Prize</button>
					</div>
				</div>
				<div>

					<table id="table-prizes" class="table table-sm table-bordered" style="table-layout:fixed;font-size:13px">
						<thead>
							<tr>
								<th>Id</th>
								<th>Game</th>
								<th>Name</th>
								<th>Description</th>
								<th>Type</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>

				</div>
			</div>
		</div>

	</div>
</div>

@section Scripts {

	<script id="editCellTemplate" type="text/html">
		<div class="text-center text-primary">
			<i class="fa fa-edit update-prize" data-prizeid="{{.}}"></i>
		</div>
	</script>

	<script>
		(async ($) => {


			const editCellTemplate = $("#editCellTemplate").html();
			const table = $("#table-prizes");
			const dataTable = table.DataTable({
				"dom": datatable_Layout,
				"order": [[1, "desc"]],
				"stateSave": false,
				"processing": true,
				"serverSide": true,
				"searching": true,
				"paging": true,
				"pagingType": "simple_numbers",
				"info": true,
				"autoWidth": false,
				"displayLength": 20,
				"language": {
					emptyTable: "No prizes found",
					zeroRecords: "No prizes found",
				},
				"ajaxSource": '/Admin/GetGamePrizes',
				"serverMethod": "POST",
				"serverParams": function (data) {
					if (Array.isArray(data)) {
						data.push({ "name": "sSearch", "value": $("#filter-search").val() });
					}
				},
				"columnDefs": [{
					"targets": 0,
					"width": 80
				},
				{
					"targets": 1,
					"width": 140,
				},
				{
					"targets": 2,
					"width": 120
				},
				{
					"targets": 3,
					"width": "100%",
					"className": 'cell-elipsis'
				}
					,
				{
					"targets": 4,
					"width": 120
				},
				{
					"targets": 5,
					"width": 30,
					"orderable": false,
					"searchable": false,
					"render": function (data, type, full, meta) {
						return Mustache.render(editCellTemplate,  full[0]);
					}
				}]
			});

			$('#filter-apply').on('click', function () {
				const _this = $(this);
				_this.attr("disabled", "disabled");
				dataTable.draw();
				if (isFilterApplied()) {
					$("#filter-clear").show();
				}
			});

			$('#filter-clear').on('click', function () {
				$(this).hide();
				$(".filter-input").val(null);
				$("#filter-apply").trigger("click");
			});

			$('#filter-search').on('keyup', function (e) {
				if (isFilterApplied()) {
					if (e.keyCode == 13) {
						$("#filter-apply").trigger("click");
						return;
					}
				}
				$("#filter-apply").removeAttr("disabled");
			});

			$(".filter-input").on("change paste keyup", function () {
				$("#filter-apply").removeAttr("disabled");
			});

			const isFilterApplied = () => {
				const filter_search = $("#filter-search").val();
				if (filter_search) {
					return true;
				}
				return false;
			}


			//$("#create-prizepool").on("click", async function () {
			//	const result = await openModalGet("/Admin/CreatePrizePoolModal");
			//	if (result.Cancel === true) {
			//		return;
			//	}
			//	location.reload();
			//});

			//table.on("click", ".update-prizepool", async function () {
			//	const name = $(this).data("name");
			//	const gameId = $(this).data("gameid");
			//	const result = await openModalGet("/Admin/UpdatePrizePoolModal", { gameId: gameId, name: name });
			//	if (result.Cancel === true) {
			//		return;
			//	}
			//	location.reload();
			//});

		})(jQuery);
	</script>
}