@{
	ViewBag.Title = "Team Management";
}

<div class="d-flex justify-content-center">

	<div class="d-flex" style="min-width:500px;max-width:1600px">
		<div class="card w-100 m-3">
			<div class="card-body">
				<div class="d-flex justify-content-between align-items-center">
					<div>
						<h5 class="card-title text-primary">Team Management</h5>
						<h6 class="card-subtitle mb-2 text-muted">Manage game teams and team details</h6>
					</div>
					<div class="d-flex">
						<div>
							<button id="create-team" class="btn btn-sm btn-primary mr-3" style="width:150px">Create Team</button>
						</div>
						<div>
							<div class="input-group input-group-sm ">
								<input id="filter-search" type="text" class="filter-input form-control" placeholder="Search...">
								<div class="input-group-append">
									<button id="filter-clear" class="btn btn-outline-danger" type="button" style="display:none">
										<i class="fa fa-times"></i>
									</button>
								</div>
								<div class="input-group-append">
									<button id="filter-apply" class="btn btn-outline-secondary" type="button" disabled="disabled">
										<i class="fa fa-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<table id="table-teams" class="table table-sm table-bordered" style="table-layout:fixed;font-size:13px">
						<thead>
							<tr>
								<th>Id</th>
								<th>GameId</th>
								<th>Game</th>
								<th>Name</th>
								<th>Description</th>
								<th>Icon</th>
								<th>Color</th>
								<th>Members</th>
								<th>Rank</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>


@section Scripts {


	<script id="editCellTemplate" type="text/html">
		<div class="text-center text-primary">
			<i class="fa fa-edit team-update" data-teamid="{{.}}"></i>
		</div>
	</script>

	<script>
		(async ($) => {

			const editCellTemplate = $("#editCellTemplate").html();
			const colorCellTemplate = $("#colorCellTemplate").html();
			const table = $("#table-teams");
			const dataTable = table.DataTable({
				"dom": datatable_Layout,
				"order": [[2, "asc"], [3, "asc"]],
				"stateSave": false,
				"processing": true,
				"serverSide": true,
				"searching": true,
				"paging": true,
				"pagingType": "simple_numbers",
				"info": true,
				"autoWidth": false,
				"displayLength": 20,
				"language": {
					emptyTable: "No teams found",
					zeroRecords: "No teams found",
				},
				"ajaxSource": '/Admin/GetTeams',
				"serverMethod": "POST",
				"serverParams": function (data) {
					if (Array.isArray(data)) {
						data.push({ "name": "sSearch", "value": $("#filter-search").val() });
					}
				},
				"columnDefs": [{
					"targets": 0,
					"width": 80
				},
				{
					"targets": 1,
					"visible": false
				},
				{
					"targets": 2,
					"width": 180,
					"className": 'cell-elipsis',
				},
				{
					"targets": 3,
					"width": 180,
					"className": 'cell-elipsis',
				},
				{
					"targets": 4,
					"width": "100%",
					"className": 'cell-elipsis',
				},
				{
					"targets": 5,
					"width": 180,
					"className": 'cell-elipsis',
				},
				{
					"targets": 6,
					"width": 140,
					"render": function (data, type, full, meta) {
						return Mustache.render(colorCellTemplate, data);
					}
				},
				{
					"targets": 7,
					"width": 120,
				},
				{
					"targets": 8,
					"width": 80,
				},
				{
					"targets": 9,
					"width": 30,
					"orderable": false,
					"searchable": false,
					"render": function (data, type, full, meta) {
						return Mustache.render(editCellTemplate, full[0]);
					}
				}]
			});

			$('#filter-apply').on('click', function () {
				const _this = $(this);
				_this.attr("disabled", "disabled");
				dataTable.draw();
				if (isFilterApplied()) {
					$("#filter-clear").show();
				}
			});

			$('#filter-clear').on('click', function () {
				$(this).hide();
				$(".filter-input").val(null);
				$("#filter-apply").trigger("click");
			});

			$('#filter-search').on('keyup', function (e) {
				if (isFilterApplied()) {
					if (e.keyCode == 13) {
						$("#filter-apply").trigger("click");
						return;
					}
				}
				$("#filter-apply").removeAttr("disabled");
			});

			$(".filter-input").on("change paste keyup", function () {
				$("#filter-apply").removeAttr("disabled");
			});

			const isFilterApplied = () => {
				const filter_search = $("#filter-search").val();
				if (filter_search) {
					return true;
				}
				return false;
			}

			$("#table-teams").on("click", ".team-update", async function () {
				const teamId = $(this).data("teamid");
				const result = await openModalGet("/Admin/UpdateTeamModal", { teamId: teamId });
				if (result.Cancel === true) {
					return;
				}
				dataTable.draw();
			});

			$("#create-team").on("click", async function () {
				const result = await openModalGet("/Admin/CreateTeamModal");
				if (result.Cancel === true) {
					return;
				}
				dataTable.draw();
			});

		})(jQuery);
	</script>
}