<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=sweetas.homeserver.com;Database=DotMatrix;User ID=Development;Password=SUPERsafe213$$$;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="LogLocation" value="C:\" />
		<add key="LogLevel" value="Verbose" />

		<add key="WalletUser" value="cryptopiarpc" />
		<add key="WalletPass" value="cryptopiarpc123" />
		<add key="WalletPort" value="33113" />
		<add key="WalletHost" value="homeserver" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="myBinding" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" >
					<readerQuotas maxDepth="64" maxArrayLength="2147483647" maxStringContentLength="2147483647" />
					<security mode="None" />
					<reliableSession enabled="false"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<client />
		<services>
			<service behaviorConfiguration="DotMatrixWalletServiceBehavior" name="DotMatrix.DepositService.Service.WalletService">
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="myBinding"
				 name="NetTcpBindingEndpoint" contract="DotMatrix.DepositService.Service.IWalletService" />
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8020/DotMatrixWalletService/service" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DotMatrixWalletServiceBehavior">
					<dataContractSerializer maxItemsInObjectGraph="2147483647"  />
					<serviceThrottling maxConcurrentCalls="10000" maxConcurrentInstances="10000" maxConcurrentSessions="10000"  />
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>