@{
	ViewBag.Title = "Payment Error";
}

<div class="d-flex flex-column align-items-center">
	<div class="d-flex flex-column w-100 mt-5" style="max-width:800px">
		<div class="alert alert-warning" role="alert">
			<h4 class="alert-heading">Payment Error!</h4>
			<p>Unfortunately we are unable to process this payment method at this time.</p>
			<hr>
			<p class="mb-0">Please try another payment option or try again later, if problem persists please contact our support team.</p>
			<div class="text-center mt-3">
				<a href="/Payment" class="alert-link">Return to Payments</a>
			</div>
		</div>
	</div>
</div>
