@model DotMatrix.Common.Payment.PaymentUserMethodModel
@{
	ViewBag.Title = "Payment Method";
}

<div class="d-flex justify-content-center align-items-center">

	<div class="card" style="min-width:300px;margin:30px">
		<a style="position:absolute" href="/Payment">
			<i class="fa fa-2x fa-arrow-circle-left m-2"></i>
		</a>
		<div class="d-flex justify-content-center align-items-center">
			<img class="mt-4" src="~/Content/Images/Payment/@(Model.Name).png" alt="" width="200">
		</div>
		<div class="card-body">
			<h5 class="card-title"><b>@Model.Name</b></h5>
			<p class="">@Model.Description</p>
			<div class="d-flex flex-column mb-3">
				<small>Payment Address</small>
				<div class="d-flex justify-content-between align-items-center mb-4">
					<b id="address-value">@Model.Data</b>
					<span class="btn btn-link p-0" title="Copy address to clipboard">
						<i id="address-copy" class="fa fa-copy ml-3"></i>
					</span>
				</div>
				<small>
					<i>@Model.Note</i>
				</small>
			</div>
			<a href="/Payment/History" class="btn btn-block btn-warning">View Payments</a>
		</div>
	</div>

</div>

@section Scripts {
	<script>
		$("#address-copy").on("click", function () {
			copyTextToClipboard($("#address-value").text());
			$(this).addClass("text-success");
		})
	</script>
}