html, body {
	height: 100%;
	margin: 0;
}

.body-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	overflow: auto;
}

footer {
}

.cursor-pointer {
	cursor: pointer;
}

.cell-elipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.grid-board {
	background-color: transparent;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1) 50%, transparent 50%), linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 50%, transparent 50%);
	background-blend-mode: normal, difference, normal;
}


.checker-board {
	background-color: transparent;
	background-image: linear-gradient(to right, rgba(192, 192, 192, 0.80), rgba(192, 192, 192, 0.80)), linear-gradient(to right, black 50%, white 50%), linear-gradient(to bottom, black 50%, white 50%);
	background-blend-mode: normal, difference, normal;
}

	.checker-board.thumbnail {
		background-size: 6px 6px;
	}


	.checker-board.scale-16 {
		background-size: 32px 32px;
	}

	.grid-board.scale-1,
	.checker-board.scale-1 {
		background-size: 6px 6px;
	}

	.grid-board.scale-5,
	.checker-board.scale-5 {
		background-size: 10px 10px;
	}

	.grid-board.scale-10,
	.checker-board.scale-10 {
		background-size: 20px 20px;
	}

	.grid-board.scale-15,
	.checker-board.scale-15 {
		background-size: 30px 30px;
	}

#simplemodal-overlay {
	background-color: rgba(0,0,0,0.8);
}


.field-validation-error {
	font-size: 12px;
}


/*Tables*/
/*----------------------------------------------------------------------------*/
table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
	padding-right: 30px;
}

table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
	outline: none;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
	cursor: pointer;
	position: relative;
}

	table.dataTable thead .sorting:before, table.dataTable thead .sorting:after,
	table.dataTable thead .sorting_asc:before,
	table.dataTable thead .sorting_asc:after,
	table.dataTable thead .sorting_desc:before,
	table.dataTable thead .sorting_desc:after,
	table.dataTable thead .sorting_asc_disabled:before,
	table.dataTable thead .sorting_asc_disabled:after,
	table.dataTable thead .sorting_desc_disabled:before,
	table.dataTable thead .sorting_desc_disabled:after {
		position: absolute;
		bottom: 0.9em;
		display: block;
		opacity: 0.3;
	}

	table.dataTable thead .sorting:before,
	table.dataTable thead .sorting_asc:before,
	table.dataTable thead .sorting_desc:before,
	table.dataTable thead .sorting_asc_disabled:before,
	table.dataTable thead .sorting_desc_disabled:before {
		right: 1em;
		content: "\2191";
	}

	table.dataTable thead .sorting:after,
	table.dataTable thead .sorting_asc:after,
	table.dataTable thead .sorting_desc:after,
	table.dataTable thead .sorting_asc_disabled:after,
	table.dataTable thead .sorting_desc_disabled:after {
		right: 0.5em;
		content: "\2193";
	}

	table.dataTable thead .sorting_asc:before,
	table.dataTable thead .sorting_desc:after {
		opacity: 1;
	}

	table.dataTable thead .sorting_asc_disabled:before,
	table.dataTable thead .sorting_desc_disabled:after {
		opacity: 0;
	}


.dataTables_processing {
	height: 25px;
	font-size: 12px;
	padding: 4px 10px 0px 10px;
	background-color: #212529;
	position: absolute;
	z-index: 20;
}










.award-view-container {
	display: flex;
	flex-direction: column;
}

	.award-view-container .award-view {
		margin-right: 5px;
		margin-bottom: 5px;
		width: 160px;
	}

	.award-view-container .award-badge {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 3px 10px;
	}

		.award-view-container .award-badge > i {
			font-size: 18px
		}

.award-badge-Bronze {
	background-color: #CB4B16
}

.award-badge-Silver {
	background-color: #839496
}

.award-badge-Gold {
	background-color: #B58900;
}

.award-badge-Special {
	background-color: #268BD2;
}



.award-icon-Bronze {
	color: #CB4B16
}

.award-icon-Silver {
	color: #839496
}

.award-icon-Gold {
	color: #B58900;
}

.award-icon-Special {
	color: #268BD2;
}



.award-main-container {
	display: flex;
	flex-direction: column;
}

	.award-main-container .award-view {
		margin-right: 5px;
		margin-bottom: 5px;
		width: 160px;
	}

	.award-main-container .award-badge {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 3px 10px;
	}

		.award-main-container .award-badge > i {
			font-size: 20px
		}
