@model DotMatrix.Common.Admin.AdminViewModel
@{
	ViewBag.Title = "Admin";
}

<div class="d-flex flex-column align-items-center">

	<div class="d-flex" style="min-width:340px;max-width:500px">
		<div class="card w-100 m-3">
			<div class="card-body">
				<h5 class="card-title text-primary">BitPixel Management</h5>
				<h6 class="card-subtitle mb-2 text-muted">Manage BitPixel game settings</h6>
				<div>
					<div class="d-flex flex-column">
						<a href="/Admin/Users" class="btn btn-primary m-1">User Management</a>
						<a href="/Admin/Game" class="btn btn-primary m-1">Game Management</a>
						<a href="/Admin/Teams" class="btn btn-primary m-1">Team Management</a>
						<a href="/Admin/Award" class="btn btn-primary m-1">Award Management</a>
						<a href="/Admin/Payments" class="btn btn-primary m-1">Payment Management</a>
						<a href="/Admin/PrizePayments" class="btn btn-primary m-1">Prize Payment Management</a>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>

@section Scripts {
	<script>
		(async ($) => {


		})(jQuery);
	</script>
}
