@model DotMatrix.Common.Users.UserSettingsModel
@{
	ViewBag.Title = "Account";
}

<div class="d-flex flex-column justify-content-center">
	<div class="d-flex justify-content-center flex-wrap">
		<div id="passwordTarget" class="d-flex m-4 w-100" style="max-width:400px;min-width:300px;">
					@{ Html.RenderPartial("_UpdatePassword", new DotMatrix.Common.Account.ChangePasswordViewModel());}
		</div>
		@*<div id="apiTarget" class="d-flex m-4 w-100" style="max-width:400px;min-width:300px;">
			@{ Html.RenderPartial("_UpdateApi", Model.ApiModel);}
		</div>*@
	</div>
</div>
