@{
	ViewBag.Title = "Account";
}

<div class="row">
	<div class="col-md-12">
		<div style="padding-top:25px">
			<a class="btn btn-info" href="@Url.Action("ChangePassword","User")">Change Password</a>
		</div>
	</div>
</div>