@model BitPixel.Common.Users.UserSettingsModel
@{
	ViewBag.Title = "Account";
	var cacheBreak = DateTime.UtcNow.ToUnixMs();
}

<div class="d-flex flex-column align-items-center p-3">


	<div class="d-flex w-100" style="max-width:400px;min-width:320px;">

		<div class="d-flex flex-fill">
			<div class="card" style="width:100%">
				<div class="card-body">
					<h5 class="card-title text-primary">Avatar</h5>
					<h6 class="card-subtitle mb-2 text-muted">Create your own unique avatar</h6>
					<div>
						<div class="d-flex justify-content-center mb-3">
							<img id="avatar-img" src="~/Content/Images/Avatar/@(User.Identity.Name).png?v=@cacheBreak" onerror="this.src='/Content/Images/Avatar.png'" width="200" height="200" style="border:solid 1px rgba(238, 232, 213, 0.325)" />
						</div>
						<button id="update-avatar" class="btn btn-sm btn-primary w-50">Build Avatar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="passwordTarget" class="d-flex m-4 w-100" style="max-width:400px;min-width:320px;">
		@{ Html.RenderPartial("_UpdatePassword", new BitPixel.Common.Account.ChangePasswordViewModel());}
	</div>
</div>

@section Scripts {

	<script>
		(async ($) => {

			$("#update-avatar").on("click", async function () {
				const result = await openModalGet('/User/UpdateAvatarModal');
				if (result.Success === true) {
					const cacheBreak = Math.round((new Date()).getTime());
					$("#avatar-img").attr("src", "/Content/Images/Avatar/@(User.Identity.Name).png?v=" + cacheBreak)
				}
			});

		})(jQuery);
	</script>

}
