@model DotMatrix.Common.Award.AwardUserHistoryViewModel
@{
	ViewBag.Title = "Award History";
}

<div class="d-flex justify-content-center pt-4">

	<div class="card" style="min-width:300px;max-width:1000px">
		<div class="card-body">
			<h5 class="card-title">Awards History</h5>
			<h6 class="card-subtitle mb-2 text-muted">Awards you have won.</h6>
			<div>

				<table class="table table-sm table-bordered" style="table-layout:fixed;width:100%;font-size:13px">
					<thead>
						<tr>
							<th width="120">Name</th>
							<th class="text-right" width="150">Points</th>
							<th class="text-right" width="170">Timestamp</th>
						</tr>
					</thead>
					<tbody>
						@if (!Model.Awards.Any())
						{
							<tr>
								<td colspan="3">No awards have been won yet.</td>
							</tr>
						}
						else
						{
							foreach (var prize in Model.Awards)
							{
								<tr>
									<td class="cell-elipsis">@prize.Name</td>
									<td class="text-right">@prize.Points</td>
									<td class="text-right" style="white-space:nowrap">@prize.Timestamp.ToString("dd/MM/yyyy hh:mm tt")</td>
								</tr>
							}
						}
					</tbody>
				</table>

				<div>
					<div class="d-flex justify-content-between">
						<div class="w-25">
							<a href="/Awards" class="btn btn-block btn-sm btn-warning">Get Awards!</a>
						</div>
						<div class="w-25">
							<a href="/Prizes/UserHistory" class="btn btn-block btn-sm btn-outline-dark">Prize History</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>



@section Scripts {
	<script>

	</script>
}
